body {
  background-color: #28775B;
  background-image: url('/static/images/noise-texture.png');
  background-repeat: repeat;
}

.game-contianer {
  display: flex;
  flex-direction: column;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hand .card-img {
  flex-shrink: 0;
}

.hand .card-img:not(:first-child) {
  margin-left: -60px;
}

.dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.title {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.player .hand:not(.active-hand) .card-img {
  opacity: 0.6;
}

.player .hand.active-hand .card-img {
  opacity: 1;

  filter: drop-shadow(0 0 2px #FFD700) drop-shadow(0 0 6px #FFD700);

  transform: translateY(-5px);
}

.dealer h3, .player h3 {
  margin-bottom: 2px;
}

.score-display {
  margin-top: 2px;
}

.outcome {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #FFFFFF;
  gap: 8px;
  margin-top: 20px;

  align-items: center;
}

.outcome h4:last-child {
  font-size: 1.2em;
}

.card-img {  
  height: auto;
  width: 100px;

  transition: all 0.3s ease;
}

.gamebar {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;

  gap: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 5px;
}

.chips {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.remove-chips {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.remove-chips-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.chip-btn {
  background: transparent;
  border: none;
  padding: 0;
}

.chips-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.chip-btn img {
  width: 90px;
  height: 90px;
  display: block;
  object-fit: contain;
}

.chip-btn {
  color: #FFFFFF;
}

.chip-btn:hover {
  transform: scale(1.1);
}

.chip-btn:active {
  transform: scale(0.5);
}

.outcome {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5ch;
  width: 100%;
}

.outcome h4 {
  margin: 0;
  white-space: nowrap;
}

.current-wager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-wager {
  color: #FFFFFF;
}
