/* .background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0;
}
*/

.game-contianer {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 20px;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 20px;
}

.dealer h3, .player h3 {
  margin-bottom: 2px;
}

.score-display {
  margin-top: 2px;
}

.outcome {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.card-img {  
  height: auto;
  width: 100px;
}
