<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blackjack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <body>
    
    <div class="game-container">
      {% if ('current_wager' in session or session.get('current_wager', 0) > 0) and game_active %}
        <!-- 
        ======================================== 
                      Dealer Section 
        ========================================
        -->

        {% if table.dealer.cards|length > 0 %}
          <div class="dealer"> 
            <h3>Dealer</h3>
            
            <div class="score-display">
              {% if table.dealer.is_face_up %}

                {% if table.dealer.is_soft %}
                  <p>{{ table.dealer.hard_value }} / {{table.dealer.value}}</p>
                {% else %}
                  <p>{{ table.dealer.value }}</p>
                {% endif %}
              {% endif %}
            </div>

            <div class="hand">
              {% for card in table.dealer.cards %}
                
                {% if loop.first and not table.dealer.is_face_up %}
                  <img src="{{ url_for('static', filename='cards/card_back.png') }}"
                      class="card-img" 
                      alt="Hidden Card">
                {% else %}
                  <img src="{{ url_for('static', filename='cards/' ~ card.rank|lower ~ '_of_' ~ card.suit|lower ~ '.png') }}"
                      class="card-img" 
                      alt="{{ card.rank }} of {{card.suit}}">      
                {% endif %}

              {% endfor %} 
            </div> 
          </div> 
        {% endif %} 

      {% endif %}

      <div class="title">
        <h1>Blackjack</h1>
      </div>

      <!-- 
      ======================================== 
                    Player Section 
      ========================================
      -->
      
      <div class="player">
        {% if ('current_wager' in session or session.get('current_wager', 0) > 0) and game_active %}
          {% for hand in table.player.hands %}
          <div class="hand">
          
            {% for card in hand.cards %}  
              <img src="{{ url_for('static', filename='cards/' ~ card.rank|lower ~ '_of_' ~ card.suit|lower ~ '.png') }}"
                  class="card-img" 
                  alt="{{ card.rank }} of {{card.suit}}">
          {% endfor %} 
          </div> 
          
          <h3>Hand [Wager: {{ hand.wager }}]</h3>

              <div class="score-display">
                {% if hand.is_soft %}
                  <p>{{ hand.hard_value }} / {{hand.value}}</p>
                {% else %}
                  <p>{{ hand.value }}</p>
                {% endif %}
              </div>

          {% endfor %} 
        {% endif %}
      </div>

      <!-- 
      ======================================== 
          Gamebar Section (Buttons & Chips) 
      ========================================
      -->

      <div class="gamebar">
        <div class="buttons">
          {% if session.get('current_wager', 0) > 0 and not game_active %}
            <form action="/deal" method="POST">
              <button type="submit">Deal</button>
            </form>
          {% elif (game_active and table.player.hands[-1].outcome_flag > 0) and table.player.active_hand_index == table.player.count() - 1%}
          <form action="/new_game" method="POST">
            <button type="submit">OK</button>
          </form>
          {% elif (game_active and table.player.current_hand.outcome_flag == 0) and not table.player.current_hand.is_split_aces %}
            <form action="/hit" method="POST">
              <button type="submit">Hit</button>
            </form>

            <form action="/stand" method="POST">
              <button type="submit">Stand</button>
            </form>

            <form action="/double" method="POST">
              <button type="submit">Double</button>
            </form>

            {% if table.player.current_hand.can_split %}
              <form action="/split" method="POST">
                <button type="submit">Split</button>
              </form>
            {% endif %}
          {% endif %}
        </div>        
      </div>

      {% import 'macros.html' as chips %}

      <div class="chips">
          
          {% if not game_active %}
            <ul class="chips-list">
              <li>{{ chips.render_chip(1) }}</li>
              <li>{{ chips.render_chip(2.5) }}</li>
              <li>{{ chips.render_chip(5) }}</li>
              <li>{{ chips.render_chip(25) }}</li>
              <li>{{ chips.render_chip(100) }}</li>
              <li>{{ chips.render_chip(500) }}</li>
            </ul>
				  {% endif %}
        </div>
      
      <div class="current-wager">
        {% if ('current_wager' not in session or session.get('current_wager', 0) == 0) and not game_active %}
          <p>Place Your Wager.</p>
        {% elif current_wager > 0 %}
          <p>Current Wager: {{ current_wager }}</p>
        {% endif %}
      </div>

      <div class="remove-chips">
          
          {% if not game_active and session.get('current_wager', 0) > 0 %}
            <ul class="chips-list">
              <li>{{ chips.remove_chip(1) }}</li>
              <li>{{ chips.remove_chip(2.5) }}</li>
              <li>{{ chips.remove_chip(5) }}</li>
              <li>{{ chips.remove_chip(25) }}</li>
              <li>{{ chips.remove_chip(100) }}</li>
              <li>{{ chips.remove_chip(500) }}</li>
            </ul>
				  {% endif %}
        </div>

      <div class="outcome">
        {% if ('current_wager' in session or session.get('current_wager', 0) > 0) and game_active %}
          
          {% for hand in table.player.hands %}

            {% if hand.outcome_flag > 0 %}
            <h4></h4>

          {% endfor %}
        
        {% endif %}
      </div>

    </div>
  </body>
</html>


<!-- <div class="outcome">
  {% if ('current_wager' in session or session.get('current_wager', 0) > 0) and game_active %}
    
    {% for hand in table.player.hands %}
      
      {% if hand.outcome_flag > 0 %}
          
          <h4>{% if table.player.count() > 1 %}Hand {{ loop.index }}: {% endif %}{{ hand.outcome.message }}</h4>
          
          {% if loop.last and (winnings and winnings > 0) %}
            <h4>Total Won: ${{ "{:,.2f}".format(winnings) }}</h4>
          {% endif %}

        </div>
      {% endif %}

    {% endfor %}
    
  {% endif %}
</div> -->
