<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blackjack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <body>
    
    <div class="game-container">
      <!-- Dealer Section -->

      {% if table.dealer.cards|length > 0 %}
        <div class="dealer"> 
          <h3>Dealer</h3>
          
          <div class="score-display">
            {% if table.dealer.is_face_up %}

              {% if table.dealer.is_soft %}
                <p>{{ table.dealer.hard_value }} / {{table.dealer.value}}</p>
              {% else %}
                <p>{{ table.dealer.value }}</p>
              {% endif %}
            {% endif %}
          </div>

          <div class="hand">
            {% for card in table.dealer.cards %}
              
              {% if loop.first and not table.dealer.is_face_up %}
                <img src="{{ url_for('static', filename='cards/card_back.png') }}"
                    class="card-img" 
                    alt="Hidden Card">
              {% else %}
                <img src="{{ url_for('static', filename='cards/' ~ card.rank|lower ~ '_of_' ~ card.suit|lower ~ '.png') }}"
                    class="card-img" 
                    alt="{{ card.rank }} of {{card.suit}}">      
              {% endif %}

            {% endfor %} 
          </div> 
        </div> 
      {% endif %} 

      <div class="title">
        <h1>Blackjack</h1>
      </div>

      <!-- Player Section -->

      <div class="player">
        {% for hand in table.player.hands %}
        <div class="hand">
        
          {% for card in hand.cards %}  
            <img src="{{ url_for('static', filename='cards/' ~ card.rank|lower ~ '_of_' ~ card.suit|lower ~ '.png') }}"
                class="card-img" 
                alt="{{ card.rank }} of {{card.suit}}">
        {% endfor %} 
        </div> 
        
        <h3>Hand [Wager: {{ hand.wager }}]</h3>

            <div class="score-display">
              {% if hand.is_soft %}
                <p>{{ hand.hard_value }} / {{hand.value}}</p>
              {% else %}
                <p>{{ hand.value }}</p>
              {% endif %}
            </div>

        {% endfor %} 
      </div>

      <div class="gamebar">
        <div class="buttons">
          {% if not game_active %}
            <form action="/deal" method="POST">
              <button type="submit">Deal</button>
            </form>
          {% else %}
            <form action="/hit" method="POST">
              <button type="submit">Hit</button>
            </form>

            <form action="/stand" method="POST">
              <button type="submit">Stand</button>
            </form>
          {% endif %}
        </div>

        <div class="chips">

          <ul class="chips-list">
            <li>
              <form action="/bet/1" method="POST">
                <button type="submit" class="chip-btn chip-1">
                  <img src="/static/images/1_chip.png" alt="$1 Chip">
                </button>
              </form>
            </li>
            <li>
              <form action="/bet/2.5" method="POST">
                <button type="submit" class="chip-btn chip-2.5">
                  <img src="/static/images/2.5_chip.png" alt="$2.5 Chip">
                </button>
              </form>
            </li>
            <li>
              <form action="/bet/5" method="POST">
                <button type="submit" class="chip-btn chip-5">
                  <img src="/static/images/5_chip.png" alt="$5 Chip">
                </button>
              </form>
            </li>
            <li>
              <form action="/bet/25" method="POST">
                <button type="submit" class="chip-btn chip-25">
                  <img src="/static/images/25_chip.png" alt="$25 Chip">
                </button>
              </form>
            </li>
            <li>
              <form action="/bet/100" method="POST">
                <button type="submit" class="chip-btn chip-100">
                  <img src="/static/images/100_chip.png" alt="$100 Chip">
                </button>
              </form>
            </li>
            <li>
              <form action="/bet/500" method="POST">
                <button type="submit" class="chip-btn chip-500">
                  <img src="/static/images/500_chip.png" alt="$500 Chip">
                </button>
              </form>
            </li>
          </ul>
        </div>

      </div>
      
      <div>
        {% if session.get('current_wager', 0) > 0 %}
          <p>Wager: {{ session.get('current_wager', 0) }}</p>
        {% endif %}
      </div>

      <div class="outcome">
        <h4>{{ outcome.message }}</h4>
        {% if 'winnings' in session and session['winnings'] > 0 %}
          <h4> You Won ${{ session['winnings']}}</h4>
        {% endif %}
      </div>

    </div>
  </body>
</html>
